.check {
  position: relative;
  right: 30px;
  top: 10px;
}

.createBtn {
  position: relative;
  right: -70px;
  top: 0px;
  border: 1px solid;
  border-radius: 10px;
  padding: 30px;
  size: 7em;
  width: 71%;
  background-color: #999;
  color: whitesmoke
}

.pollsCreateText {
  border: 2px solid;
  padding: 8px;
  position: relative;
  right: 16px;
  margin-left: 10%;
  border-radius: 10px;
  background-color: #999;
}

.pollsCreateText2 {
  border: 2px solid;
  padding: 8px;
  position: relative;
  right: 16px;
  top: 2px;
  background-color: #999;
  border-radius: 10px;
}

.pollLabel {
  width: 100%;
  margin-left: -0.7%;
}